div.home {
	ul.destinations {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			border: 1px solid #aaa;
			border-radius: 5px;
			background-color: #aaa;
			float: left;
			margin: 1em;
			padding: 3em;
			width: 15%;
			text-align: center;
			a {
				color: #fff;
			}
		}		
	}
}